.box-check{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
    width: 30%;
    height: 50px;
    padding: 50px 50px;
    background-color: #00ffb3;
    border-radius: 7px;
    position: fixed;
    z-index: 999;
    left: 50%;
    transform: translate(-50%, 200%);
}
.box-check{
    scale: 0;
    visibility: hidden;
}

.box-check.active{
    scale: 1;
    visibility: visible;
    transition: all 0.2s ease;
}

.box-check h4, i{
    font-size: 20px;
    font-weight: 700;
    color: #fff;

}
