


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root{
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-dark-color: #10121A;
    --background-dark-grey: #191d28;
    --border-color: #2e344e;
    --background-light-color: #f1f1f1;
    --background-light-color-2: rgba(3, 127, 255, 0.3);
    --white-color: #fff;
    --font-light-color: #a4acc4;
    --font-dark-color: #313131;
    --font-dark-color-2: #151515;
    --sidebar-dark-color: #191d28;
    --font-primaty-family: 'Poppins', sans-serif;
}

html{
    scroll-snap-type: start;
}

body{
    background-color: var(--background-light-color);
    font-family: var(--font-primaty-family);
    overflow-x: hidden;
}

.highlight{
    color: var(--primary-color);
}

section{
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;

}

header{
    background-color: transparent;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    color: var(--white-color);
    font-size: 20px;
    margin-left: 20px;
    letter-spacing: 2px;
    margin: 10px 5%;
    font-weight: 700;
}

header nav{
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin: 10px 5%;
}

header nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

}

header nav ul li a{
    color: var(--white-color);
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 400;
}

.container{
    margin: 0 auto;
    position: relative
}



/* Home Section */
.home{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-dark-color);
    color: var(--white-color);
    font-weight: 700;
    letter-spacing: 2px;
}

.home img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}

.home .content-home{
    position: absolute;
    z-index: 2;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: left;
}
.home .content-home h2{
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: left;
    margin: 10px 5%;
}

.home .content-home p{
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    width: 80%;
    text-align: left;
    margin: 10px 5%;
}


/* Services Section */
.services{
    width: 100%;
    height: 100vh;
    background-color: var(--background-dark-grey);
    margin: 0px auto;
    display:flex;
    align-items: start;
    justify-content: start;
    position: relative;
}

.services h2{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: left;
    color: var(--background-light-color);
    margin-left: 5%;
    padding: 0px;
    width: 100%;

}
.services .services-cards{
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
    margin: 20px 10%;
    padding: 20px;
}

.services .services-cards .service{
    width:350px;
    height: 460px;
    border-radius: 1px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    box-shadow: 1px 1px 1px rgba(15, 17, 19, 0.479);
    position: relative;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);;
    overflow: hidden;
    transition: box-shadow 0.4s linear;
}


.services .services-cards .service .filter-box{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(to top, transparent,#007bff44);
    border-radius: 1px;
    z-index: 1;
    transition: all 0.2s ease-in-out;
}



.services .services-cards .service img{
    position: absolute;
    z-index: -2;
    filter: brightness(0.7);
    height: 100%;
    width: 100%;
    border-radius: 1px;
    object-fit: cover;
    transition: filter 0.2s ease-in-out;
}

.services .services-cards .service .service-text{
    width: auto;
    height: auto;
    margin: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px;
    z-index: 5;
}


.services .services-cards .service i{
    font-size: 40px;
    color: var(--background-light-color);
}

.services .services-cards .service h3{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    color: var(--white-color);
}

.services .services-cards .service p{
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    color: var(--white-color);
    width: 90%;
    margin: 0px auto;
}

/* Efeito hover */

.services .services-cards .service:hover{
    transform: translateY(-2px);
    box-shadow: 15px 15px 1px rgba(15, 17, 19, 0.479);
}

.services .services-cards .service:hover img {
    filter: brightness(1); /* Clareia a imagem e aplica um tom verde */
}

.services .services-cards .service:hover .filter-box {
    background-image: linear-gradient(to top, transparent, #2878a744); /* Muda a cor do filtro para verde */
}

.services .services-cards .service:hover .service-text{
    text-shadow: 0 1px 20px rgba(41, 44, 44, 0.596);;
}









/* About Section */

.about{
    width: 100%;
    height: 50vh;
    background-color: var(--background-light-color);
    font-weight: 700;
    letter-spacing: 2px;
    margin: 30px auto;
    border-radius: 24px;
    display:center;
    align-items: center;
    justify-content: center;
    position: relative;
}

.about .content-about{
    width: 90%;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;
    gap: 20px;
    background-color:transparent;
    position: absolute;
    left: 5%;
    padding: 20px 30px;

}

.about h2{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: left;
    color: var(--background-dark-color);
}

.about p{
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: left;
    color: var(--background-dark-color);
    width: 100%;
}



.email{
    width: 100%;
    height: 70vh;
    background-image: url("../img/designer-5.jpg");
    font-weight: 700;
    letter-spacing: 2px;
    margin: 30px auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 30px;
    text-align: center;
}
.email h2{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    color: var(--white-color);
    padding: 0px;
    width: 90%;
    margin: 10px auto;
}

.email i{
    font-size: 30px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color); 
    border-radius: 50%;
    padding: 20px;
    font-weight: 700;

}

.email p{
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    color: var(--white-color);
    width: 100%;
    margin: 0px auto;
    text-align: center;
}

.email form{
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
}
.email form input{
    width: 30%;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    outline: none;
    font-weight: 500;
    font-family: var(--font-primaty-family);
    box-shadow: 0 1px 20px #00000059;
    border: 1px solid #007bff;
}

.email form label{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--white-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.email .btn-email{
    width: 20%;
    height: 60px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    background-color: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
    font-weight: 500;
    font-family: var(--font-primaty-family);
    text-decoration: none;
    z-index: 99;
    box-shadow: 0 7px 0px #000;
}

.email .btn-email:hover{
    background-color: #0051a8;
    transform: translateY(3px);
    box-shadow: 0 1px 0px #000;
    
}



/*propotas*/

.proposal{
    width: 100%;
    height: 100vh;
    background-color: var(--background-dark-color);
    background-image: url("../img/IA-residencial-project.jpg");
    background-attachment: fixed;
    background-blend-mode: multiply;
    margin: 0px auto;
    display:center;
    align-items: center;
    justify-content: center;
    position: relative;
}

.proposal h2{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: left;
    color: var(--white-color);
    margin-left: 5%;
    padding: 20px;
    width: 90%;
}

.proposal .proposal-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 90%;
    height: 70%;
    margin: 10px 5%;
}

.proposal .proposal-cards .card-proposal{
    width: 30%;
    height: auto;
    background-color: var(--background-light-color);
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.6s linear;
}

.proposal .description{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    color: var(--white-color);
    width: 90%;
    margin: 0px auto;
}

.proposal .proposal-cards .card-proposal img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    transform: scale(0);
}

/*hovers*/
.proposal .proposal-cards .card-proposal:hover {
    height: 100%;
    justify-content: flex-end;
}
.proposal .proposal-cards .card-proposal:hover img{
    display: block;
    transform: scale(1);
    transition: transform 0.2s ease;
}



/*testimonials*/

.testimonials{
    width: 100%;
    height: 100vh;
    background-color: var(--background-light-color);
    margin: 0px auto;
    display:center;
    align-items: center;
    justify-content: center;
    position: relative;
}

.testimonials h2{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: left;
    color: var(--background-dark-grey);
    margin-left: 5%;
    padding: 20px;
    width: 90%;
}

.testimonials .testimonial-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 90%;
    height: 500px;
    margin: 10px 5%;
}

.testimonials .testimonial-cards .testimonial{
    width: 30%;
    height: 80%;
    background-color: var(--background-dark-grey);
    border-radius: 40px 10px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    color: var(--white-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.testimonials .testimonial-cards .testimonial.inverted{
    border-radius: 10px 40px;
}


.testimonials .testimonial-cards .testimonial img{
    width: 30%;
    height: 30%;
    object-fit: cover;
    border-radius: 50%;
}

.testimonials .testimonial-cards .testimonial i{
    color: var(--primary-color);
}

.testimonial h4{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
}

.testimonials .testimonial-cards .testimonial blockquote{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    color: var(--white-color);
    width: 100%;
    margin: 0px auto;
}


/*contact*/

.contact{
    width: 100%;
    height: 100vh;
    background-color: var(--background-dark-color);
    margin: 0px auto;
    align-items: center;
    justify-content: center;
    position: relative;
}

.contact .content-contact{
    width: 90%;
    height: 70%;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.contact .content-contact .contact-info{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.contact .content-contact .contact-info div{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    text-align: left;
    margin: 0px 5%;
}
.contact .content-contact .contact-info div i{
    color: var(--primary-color);
}



.contact h2{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: left;
    color: var(--white-color);
    margin-left: 5%;
    padding: 20px;
    width: 90%;
}

.contact p{
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: left;
    color: var(--white-color);
    width: 90%;
    margin: 0px 5%;
}

.contact .contact-form{
    width: 70%;
    height: 100%;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
}

.contact .contact-form input, textarea{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}

.contact .contact-form label{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--white-color);
}

.contact .contact-form textarea{
    height: 100px;
}
.contact .contact-form button{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    background-color: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
}


.maps{
    width: 100%;
    height: 100vh;
    margin: 0px auto;
    display:center;
    align-items: center;
    justify-content: center;
    position: relative;
}

.maps h2{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: left;
    color: var(--background-dark-grey);
    margin-left: 5%;
    padding: 20px;
    width: 90%;
}

.maps .map{
    width: 90%;
    height: 70%;
    margin: 10px 5%;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.178);
}


/*footer*/

footer{
    width: 100%;
    height: 80px;
    background-color:var(--background-light-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: static;
    bottom: 0;
    z-index: 1000;
    box-shadow: 0 -3px 20px rgba(0, 0, 0, 0.137);
}

footer .time-box{
    font-weight: 500;
    margin-left: 5px;

}